
/* 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/


/* main section */

:root {
    --primary-txt-color: #757575;
    --secondary-txt-color: #212121;
    --tertiary-txt-color: #FFFFFF;
    --special-txt-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --logo-color: #000000;
    --primary-bkgd-color: #FFFFFF;
    --secondary-bkgd-color: #2F303A;
    --tertiary-bkgd-color: #F5F4FA;
}

body {
    color: var(--primary-txt-color);
    background-color: var(--primary-bkgd-color);
    font-family: 'Roboto', sans-serif;
}

.footer {
    background-color: #2F303A;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*
    В чем разница если я просто бы сделал так?

    .visually-hidden {
        display: none;
    } 
*/

/* index.html body */

.hero {
    background-color: var(--secondary-bkgd-color);
}

.hero-title {
    color: var(--tertiary-txt-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero .button {
    color: var(--tertiary-txt-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
}

.section-title {
    color: var(--secondary-txt-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

}

.advantages-block .title {
    color: var(--secondary-txt-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-block .text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.team-block {
    background-color: var(--tertiary-bkgd-color);
}

.team-block .block {
    background-color: var(--primary-bkgd-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-block .title {
    color: var(--secondary-txt-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-block .text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

/* portfolio.html body */

.filter .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}

.portfolio .block {
    border: 1px solid #EEEEEE;
}

.projects-list .title {
    color: var(--secondary-txt-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects-list .text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

/* links */

.link {
    color: var(--secondary-txt-color);
    text-decoration: none;
}

.header .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-contacts .link {
    color: var(--primary-txt-color);
}

.footer-contacts .link {
    color: var(--special-txt-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
}

.link.location {
    color: var(--tertiary-txt-color);
}

.link:hover,
.link:focus,
.link.current {
    color: var(--accent-color);
}

/* logo */

.logo {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header .logo {
    color: var(--logo-color);
}

.footer .logo {
    color: var(--tertiary-txt-color);
}

.logo-part {
    color: var(--accent-color);
}

/* buttons */

.button {
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-txt-color);
    background-color: var(--tertiary-bkgd-color);
    border-color: var(--tertiary-bkgd-color);
    border-style: none;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover, 
.button:focus, 
.button.current {
    color: var(--tertiary-txt-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}
